@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

/* Custom 1920px+ width for card */
@media (min-width: 1920px) {
  .card-3xl {
    width: 300px;
  }
}

@media (min-width: 1920px) {
  .modal-3xl {
    width: 400px;
  }
}
